.elements{
	width: 99%;
	height: 300px;
}

.textArea{
	width: 50%;
	height: 100%;
}
.sorter {
	background-color: black;
	color: white;
	overflow: scroll;
	width: 50%;
	float: left;
}

.charts {
	width: 50%;
	float:right;
}

.wrapper {
	width: 100%
}

.sortedElements {
	width: 100%;
	height: 150px;
}